# ==========================================================
# .gitignore для проекта CLST2 Cyberdeck
# ==========================================================

# Скомпилированные бинарные файлы
# Демоны, которые мы компилируем из C++
cardkb_daemon
fan_control_daemon
fbcp_daemon

# Исполняемые файлы, если будем тестировать что-то еще
*.out
a.out

# Объектные файлы, которые могут создаваться при сложной сборке
*.o
*.so
*.a

# Папки для сборки (особенно от fbcp)
build/
bin/

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*~
*.bak

# Системные и временные файлы macOS/Windows
.DS_Store
Thumbs.db

# Логи и временные файлы, которые могут появиться при отладке
*.log